* {
    box-sizing: border-box;
}

html {
    --background-color: #111;
    --heading-color-main: #f9f9f9;
    --heading-color-secondary: #00ab44;
    --text-color: hsl(50, 46%, 90%);
    --text-color-subtle: hsl(50, 46%, 58%);
    --text-color-bright: hsl(50, 46%, 66%);
    --divider-color: #57BA86;
    --backround-overflow: -6px;
    --section-separation: 4px;

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 4px;
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.2em;
    background-color: black;
    color: var(--text-color);
}

h1, h2, h3, p, pre {
    margin: 0.3em 0;
}
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
    margin-top: 0.3em;
}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--heading-color-main);
}
h2 {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--heading-color-secondary);
}
h3 {
    font-size: 1.0rem;
    font-weight: 900;
    color: var(--heading-color-secondary);
}

p, pre {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 0.9rem;
    /* color: var(--text-color); */
}
p.detail {
    font-size: 0.85rem;
}

p strong {
    font-weight: 600;
    color: var(--text-color-bright);
}

pre {
    font-family: unset;
    white-space: pre-wrap;
}

ul {
    margin: 0;
    padding-left: 1.5em;
}

dl {
    margin: 0.3em 0;
}

dl > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

dl .dots {
    display: block;
    border-bottom: 2px dotted var(--text-color-subtle);
    flex: 1;
    height: 0.8em;
    margin: 0 4px;
}

dl dt {
    margin: 0;
    font-weight: 600;
}

dl dd {
    margin: 0;
}

[hidden] {
    display: none;
}
.right {
    text-align: right;
}

#basePageContainer {
    width: 768px;
    height: 1024px;
    padding: 10px 16px;
    background-color: var(--background-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header p {
    opacity: 0.9;
    font-weight: 200;
}

.horizontal-divider {
    height: 6px;
    width: calc(100% + var(--backround-overflow) * -2);
    margin: 6px var(--backround-overflow);
    background-color: var(--divider-color);
}

.column-container {
    display: flex;
    justify-content: space-between;
}
.two-columns-column {
    width: calc(50% - var(--section-separation) * 0.5 + var(--backround-overflow) * 1);
    display: flex;
    flex-direction: column;
    /* background-color: #333; */
}

.text-subtle {
    color: var(--text-color-subtle);
}

section {
    position: relative;
    margin-left: var(--backround-overflow);
    margin-right: var(--backround-overflow);
    padding: 1px calc(-1 * var(--backround-overflow)) 3px calc(-1 * var(--backround-overflow));
    border-radius: 6px;
    background-color: #1b1b1b;
    z-index: 0;
}
section:not(:last-child) {
    margin-bottom: var(--section-separation);
}

section:before {
    content: "";
    display: block;
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.07;
    
    background-size: cover;
    background-position: 50% 70%; 
    background-repeat: none;
    filter: sepia(100%) contrast(175%);
  }

section.emphasized {
    background-color: #1f1f1b;
    border: 1px solid #800;
}

section.blank {
    height: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;

    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0.02) 10px,
        rgba(255, 255, 255, 0.06) 10px,
        rgba(255, 255, 255, 0.06) 20px
    );
}

section.blank p {
    opacity: 0.3;
}